* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Exo 2', 'Lato', 'Helvetica Neue', sans-serif;
  background: #bababa;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.link {
  font-size: 15px;
  color: #929292;
  font-weight: 900;
  text-decoration: none;
}
